$def with(form)

<h1>Welcome!</h1>
<h2>presented by GUO.</h2>
<a href="/image_home">图片搜索点这里</a>
<form action="/text_search" method="GET">
    $:form.render()
</form>
<!--<form action="/text_search" method="GET">-->
    <!--<table>-->
    <!--<tr><th><label for="Search_For_Text">Search_For_Text</label></th><td><input id="Search_For_Text" name="Search_For_Text" type="text"/></td></tr>-->
    <!--<tr><th><label for="GO"></label></th><td><button id="GO" name="GO">GO</button></td></tr>-->
<!--</table>-->
<!--</form>-->

